html {
  background-color: black;
  text-align: center;
}

body {
  height: 500px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, p {
  color: white;
  font-family: verdana;
}

a {
  color: aquamarine;
  font-size: 20px;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

footer p{
  text-align: right;
  color: gray;
  margin-bottom: 2em;
}

.information {
  font-size: 21px;
  color: gray;
}

.landscapeimg {
  margin-top: 2em;
}
